---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

 
<html lang="en">
	<head>
		<style>
			.Lb{
				border-color: black;
				border-style:solid;
				border-radius: 20px;
				margin: 10px;
				padding: 15px;
			}
		</style>
	</head>
	<body>
	
	</body>
</html>
<Layout
	title="About me"
	description="Hallo ich bin Philip Ellmauthaler, ein Software Entwickler an der HTL St.Johann im Pongau"
	pubDate={new Date(Date.now())}
	heroImage={AboutHeroImage}
	
>
	<!-- Lebenslauf -->
	 <p>Hier ist eine Kurzfassung meines Beruflichen Lebens:</p>
	 <div class="Lb">
		<h2>2012 - 2016</h2>
	 	<p>Volkschule H&uuml;ttau</p>
	 </div>
	 <div class="Lb">
		<h2>2016 - 2021</h2>
	 	<p>BG St.Johann im Pongau</p>
	 </div>
	 <div class="Lb">
		<h2>2021 - 2026</h2>
	 	<p>HTL St.Johann im Pongau</p>
	 </div>
	 

</Layout>
