---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import CertificatesGallery from '../components/CertificatesGallery.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.Info{
				display: flex;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="Info">
				<h1>Philip Tobias Ellmauthaler</h1>
				<img src="/images/ell.jpg"/>
			</div>
			
			<p>
				Welcome to my Portfolio page
			</p>
			<p>Here are some of my personal achievments/certificats:</p>
			<CertificatesGallery>
			
		</main>
		<Footer />
	</body>
</html>
